:root {
  --main-color: #232536;
  --color-yelloy: #ffd050;
  --color-Lavender: #f4f0f8;
  --color-Light_grey: #f4f4f4;
  --color-Light_yellow: #fbf6ea;
  --color-Purple: #592ea9;
  --main-transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

/* header park ------ */

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 80px;
}

.header_inside_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo_img {
  width: 140px;
  height: 29px;
}

.header_right_box {
  display: flex;
  align-items: center;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 32px;
}

.header_link {
  color: var(--Light, #fff);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  transition: var(--main-transition);
}

.header_link:hover {
  color: #6d6e76;
}

.header_link:focus {
  color: #4c4c4c;
}

.header_btn {
  color: var(--Black, #232536);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 24px;
  background: var(--Light, #fff);
  padding: 16px 48px;
  transition: var(--main-transition);
}

.header_btn:hover {
  background: #edc14a;
}

.header_btn:focus {
  background: var(--Yellow, #ffd05099);
}

/* nav part ----  */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-Lavender);
  height: 256px;
  margin-bottom: 128px;
}

.nav_title {
  color: var(--Black, #232536);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 4px;
}

.nav_text {
  color: var(--Black, #232536);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

.main {
  padding-left: 200px;
}

.main_text {
  color: var(--Dark-Grey, #4C4C4C);
font-size: 1rem;
font-weight: 400;
line-height: 28px; 
margin-bottom: 32px;
}

.main_title_min {
  color: var(--Black, #232536);
font-size: 2.2rem;
font-weight: 700;
line-height: 48px; 
letter-spacing: -2px;
margin-bottom: 24px;
}

.main_text_down {
  color: var(--Dark-Grey, #4C4C4C);
font-size: 1rem;
font-weight: 400;
line-height: 28px; 
margin-bottom: 24px;
}

.main_text_down:last-child {
  margin-bottom: 0;
  margin-bottom: 128px;
}

/* footer part ----  */

.footer_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--Black, #232536);
  height: 560px;
}

.footer_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.footer_logo {
  width: 140px;
  height: 28px;
}

.footer_list {
  display: flex;
  align-items: center;
}

.footer_item {
  margin-right: 24px;
}

.footer_link {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  transition: var(--main-transition);
}

.footer_link:hover {
  color: #6d6e76;
}

.footer_link:focus {
  color: #4c4c4c;
}

.footer_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(47, 48, 64);
  height: 256px;
  margin-bottom: 48px;
}

.footer_main_title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-right: 64px;
}

.footer_input::placeholder {
  color: var(--Medium-grey, #6d6e76);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

.footer_input {
  background-color: inherit;
  border: 1px solid var(--Dark-Grey, #4c4c4c);
  padding: 18px 162px 18px 25px;
  margin-right: 24px;
}

.footer_btn {
  color: var(--Black, #232536);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 48px;
  background: var(--Yellow, #ffd050);
  transition: var(--main-transition);
}

.footer_btn:hover {
  background: #edc14a;
}

.footer_btn:active {
  background: #edc14a9e;
}

.footer_down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text_down {
  color: var(--Light, #fff);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

.auther_apps_img:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 26px;
}
